NOA_API_URL=http://localhost:8000
NOA_ENABLE_PLACEHOLDER_ADMIN_SURFACES=false

NEXT_PUBLIC_ERROR_REPORTING_ENABLED=false
NEXT_PUBLIC_ERROR_REPORTING_DSN=
NEXT_PUBLIC_ERROR_REPORTING_ENVIRONMENT=development
